<!doctype html>
<!--[if IE]><![endif]-->
<!--[if lt IE 7 ]> <html lang="en" class="ie6">    <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="ie7">    <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="ie8">    <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="ie9">    <![endif]-->
<!--[if IE 10 ]>    <html lang="en" class="ie10">    <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Grant || Home</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon
		============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">

    <!-- master CSS
        ============================================ -->
    <link rel="stylesheet" href="master.css">

    <script src="js/vendor/modernizr-2.8.3.min.js"></script>

</head>

<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

    <!-- Start main area -->
    <div class="main-area wrapper-boxed">
        <!-- Start header -->
        <header>
            <!-- Start header top -->
            <div class="header-top">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-5 col-md-6">
                            <div class="top-social">
                                <nav>
                                    <ul>
                                        <li><a href="#">Follow Us On:</a></li>
                                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-sm-7 col-md-6">
                            <div class="call-to-action">
                                <nav>
                                    <ul>
                                        <li><a href="mailto:ourmail@domain.com"><i class="fa fa-envelope" aria-hidden="true"></i> Email: ourmail@domain.com</a></li>
                                        <li><a href="tel:+5881234567"><i class="fa fa-phone" aria-hidden="true"></i> Phone: +5(88) 123-4567</a></li>
                                        <li><a href="">EN <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                            <ul>
                                                <li><a href="#">ENGLISH</a></li>
                                                <li><a href="#">FRANCE</a></li>
                                                <li><a href="#"></a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End header top -->
            <!-- Start main menu area -->
            <div class="main-menu-area" id="sticker">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-3 col-xs-12">
                            <div class="logo ptb-32">
                                <a href="index.html">
                                    <img src="img/logo.png" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-9 col-xs-12">
                            <div class="main-menu">
                                <nav>
                                    <ul>
                                        <li><a href="index.html">Home</a></li>
                                        <li><a href="about.html">About</a></li>
                                        <li class="mega-menu"><a href="#">Project</a></li>
                                        <li><a href="events.html">Events</a></li>
                                        <li><a href="#">Blog</a>
                                            <ul class="drop-menu">
                                                <li><a href="blog.html">Blog</a></li>
                                                <li><a href="blog-details.html">Blog Details</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Pages</a>
                                            <ul class="drop-menu">
                                                <li><a href="about.html">About Us</a></li>
                                                <li><a href="contact-us.html">Contact Us</a></li>
                                                <li><a href="couses.html">Couses</a></li>
                                                <li><a href="events.html">Events</a></li>
                                                <li><a href="404.html">404</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <div class="donate-button ptb-32">
                                <a class="waves-effect waves-light" href="#">Donate</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End main menu area -->
            <!-- Start mobile menu -->
            <div class="mobile-menu-area">
                <div class="container">
                    <div class="row">
                        <div class="mobile-menu">
                            <nav id="dropdown">
                                <ul class="nav">
                                    <li><a href="#">Home</a></li>
                                    <li><a href="about.html">About</a></li>
                                    <li class="mega-menu"><a href="#">Project</a></li>
                                    <li><a href="events.html">Events</a></li>
                                    <li><a href="#">Blog</a>
                                        <ul class="drop-menu">
                                            <li><a href="blog.html">Blog</a></li>
                                            <li><a href="blog-details.html">Blog Details</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Pages</a>
                                        <ul class="drop-menu">
                                            <li><a href="about.html">About Us</a></li>
                                            <li><a href="contact-us.html">Contact Us</a></li>
                                            <li><a href="couses.html">Couses</a></li>
                                            <li><a href="events.html">Events</a></li>
                                            <li><a href="404.html">404</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End mobile menu -->
        </header>
        <!-- End header -->
        <!-- Start page title -->
        <section class="page-title-area">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="page-title text-center">
                            <h1>About us</h1>
                        </div>
                        <div class="breadcumb-area  text-center">
                            <ol class="breadcrumb">
                                <li><a href="#">Home</a></li>
                                <li class="active">About us</li>
                            </ol>
                        </div>
                        <div class="back-home">
                            <a href="index.html"><i class="fa fa-arrow-left" aria-hidden="true"></i> BACK TO HOME</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End page title -->
        <!-- Start about content area -->
        <section class="about-content-area pt-90 pb-60">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="about-content">
                            <!-- Start section title -->
                            <div class="section-title text-center">
                                <h2>About <span>Us</span></h2>
                                <img src="img/title-bottom.png" alt="">
                            </div>
                            <!-- End section title -->
                            <p>Lorem ipsum dolor sit amet, consectetur adipi elit. Cras mollis ligula mauris, vitae porttitor nunc maximus Integer fringilla place acLorem ipsum dolor sit amet, consectetur adipiscing elit. Cras mauris, vitae porttitor nunc maximus a. Integer fringilla placerat leo ac bibendum. Quisque et neque eu magna cula pellentesque. Nam volutpat scelerisque tellus, vel ultrices arcu blandit vel. Curabitur semper cursus nulla, et accumsan nisl eleifend a. Integer vitae nisi quis arcu vehicula pharetra ac blandit purus. </p>
                            <p>Etiam ut erat et nisi pulvinar accumsan. Curabitur imperdiet at sem vel elementum. Sed eget vestibulum purus. Quisque rhoncus leo vitae sem scelerisque varius.</p>
                            <div class="about-button btn-lg-f bo-ra-3">
                                <a href="#">Become a Volunteer</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="about-image">
                            <img src="img/about/about-image.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End about content area -->
        <!-- Start what we do area -->
        <section class="what-we-do-area pb-70">
            <div class="container">
                <div class="row">
                    <!-- Start section title -->
                    <div class="col-sm-12">
                        <div class="section-title text-center">
                            <h2>What We <span>Do</span></h2>
                            <img src="img/title-bottom.png" alt="">
                            <p>We create events aiming to pear to the voice for children and gather for support. <br>Please update with our events and confirm you presence.</p>
                        </div>
                    </div>
                    <!-- End section title -->
                    <div class="what-we-do">
                        <!-- Start single we do -->
                        <div class="col-sm-4">
                            <div class="single-we-do">
                                <div class="we-do-image">
                                    <img src="img/about/we-do-one.jpg" alt="">
                                </div>
                                <div class="we-do-text">
                                    <h5>DONATE FOR EDUCATION</h5>
                                </div>
                            </div>
                        </div>
                        <!-- End single we do -->
                        <!-- Start single we do -->
                        <div class="col-sm-4">
                            <div class="single-we-do">
                                <div class="we-do-image">
                                    <img src="img/about/we-do-two.jpg" alt="">
                                </div>
                                <div class="we-do-text">
                                    <h5>DONATE FOR FOOD</h5>
                                </div>
                            </div>
                        </div>
                        <!-- End single we do -->
                        <!-- Start single we do -->
                        <div class="col-sm-4">
                            <div class="single-we-do">
                                <div class="we-do-image">
                                    <img src="img/about/we-do-three.jpg" alt="">
                                </div>
                                <div class="we-do-text">
                                    <h5>DONATE FOR WATER</h5>
                                </div>
                            </div>
                        </div>
                        <!-- End single we do -->
                    </div>
                </div>
            </div>
        </section>
        <!-- End what we do area -->
        <!-- Strt finish project -->
        <section class="finish-project ptb-114">
            <div class="container">
                <div class="row">
                    <!-- Start single project -->
                    <div class="col-sm-3">
                        <div class="single-project text-center">
                            <h2 class="counter" data-count="1250">0</h2>
                            <h3>Finish Projects</h3>
                        </div>
                    </div>
                    <!-- End single project -->
                    <!-- Start single project -->
                    <div class="col-sm-3">
                        <div class="single-project text-center">
                            <h2 class="counter" data-count="1400">0</h2>
                            <h3>Creative Materials</h3>
                        </div>
                    </div>
                    <!-- End single project -->
                    <!-- Start single project -->
                    <div class="col-sm-3">
                        <div class="single-project text-center">
                            <h2 class="counter" data-count="1450">0</h2>
                            <h3>Experience Materials</h3>
                        </div>
                    </div>
                    <!-- End single project -->
                    <!-- Start single project -->
                    <div class="col-sm-3">
                        <div class="single-project text-center">
                            <h2 class="counter" data-count="1700">0</h2>
                            <h3>Professinal awards</h3>
                        </div>
                    </div>
                    <!-- End single project -->
                </div>
            </div>
        </section>
        <!-- End finish project -->
        <!-- Start our volunteers area -->
        <section class="our-volunteers-area pt-90 pb-90">
            <div class="container">
                <div class="row">
                    <!-- Start section title -->
                    <div class="col-sm-12">
                        <div class="section-title text-center">
                            <h2>OUR <span>VOLUNTEERS</span></h2>
                            <img src="img/title-bottom.png" alt="">
                            <p>We create events aiming to pear to the voice for children and gather for support. <br>Please update with our events and confirm you presence.</p>
                        </div>
                    </div>
                    <!-- End section title -->
                    <div class="our-volunteers">
                        <!-- Start single volunteer -->
                        <div class="col-sm-3">
                            <div class="single-volunteer">
                                <div class="volunteer-image-and-social">
                                    <img src="img/volunteers/volunteers-one.jpg" alt="">
                                    <div class="volunteer-social">
                                        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                        <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                                <div class="volunteer-title text-center">
                                    <h5>Farnado rotia</h5>
                                    <p>Secretery</p>
                                </div>
                            </div>
                        </div>
                        <!-- End single volunteer -->
                        <!-- Start single volunteer -->
                        <div class="col-sm-3">
                            <div class="single-volunteer">
                                <div class="volunteer-image-and-social">
                                    <img src="img/volunteers/volunteers-two.jpg" alt="">
                                    <div class="volunteer-social">
                                        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                        <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                                <div class="volunteer-title text-center">
                                    <h5>Serena sanion</h5>
                                    <p>Secretery</p>
                                </div>
                            </div>
                        </div>
                        <!-- End single volunteer -->
                        <!-- Start single volunteer -->
                        <div class="col-sm-3">
                            <div class="single-volunteer">
                                <div class="volunteer-image-and-social">
                                    <img src="img/volunteers/volunteers-three.jpg" alt="">
                                    <div class="volunteer-social">
                                        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                        <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                                <div class="volunteer-title text-center">
                                    <h5>Peterson smith</h5>
                                    <p>Secretery</p>
                                </div>
                            </div>
                        </div>
                        <!-- End single volunteer -->
                        <!-- Start single volunteer -->
                        <div class="col-sm-3">
                            <div class="single-volunteer">
                                <div class="volunteer-image-and-social">
                                    <img src="img/volunteers/volunteers-four.jpg" alt="">
                                    <div class="volunteer-social">
                                        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                        <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                                <div class="volunteer-title text-center">
                                    <h5>Anabari koy</h5>
                                    <p>Secretery</p>
                                </div>
                            </div>
                        </div>
                        <!-- End single volunteer -->
                    </div>
                </div>
            </div>
        </section>
        <!-- End our volunteers area -->
        <!-- Start video and skil area -->
        <section class="video-and-skil-area pb-90">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="about-video">
                            <img src="img/about/video-image.jpg" alt="">
                            <a class="popup-youtube" href="http://www.youtube.com/watch?v=0O2aH4XLbto"><i class="fa fa-play-circle" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="about-skill-text text-center">
                            <h3>WHAT WE THINK ABOUT OUR CHARITY</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc neque odio, auctor a euismod ac, efficitur quis ante. Vivamus facilisis ullamcorper felis. Praesent gravida nec nibh vel finibus. Morbi placerat ex sit amet sem eleifend tristique. Nam tincidunt aliquam efficitur. </p>
                        </div>
                        <div class="about-skill text-center">
                            <h3>WORKING PROGRESS</h3>
                            <!-- single-skill start -->
                            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                <div class="single-skill">
                                    <div class="progress-circular">
                                        <input type="text" class="knob" value="0" data-rel="85" data-linecap="round" data-width="100" data-bgcolor="#444444" data-fgcolor="#0AAAA0" data-thickness=".10" data-readonly="true" disabled>
                                        <h4 class="progress-h4">Donate scale</h4>
                                    </div>
                                </div>
                            </div>
                            <!-- single-skill end -->
                            <!-- single-skill start -->
                            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                <div class="single-skill">
                                    <div class="progress-circular">
                                        <input type="text" class="knob" value="0" data-rel="75" data-linecap="round" data-width="100" data-bgcolor="#444444" data-fgcolor="#0AAAA0" data-thickness=".10" data-readonly="true" disabled>
                                        <h4 class="progress-h4">Comments</h4>
                                    </div>
                                </div>
                            </div>
                            <!-- single-skill end -->
                            <!-- single-skill start -->
                            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                <div class="single-skill">
                                    <div class="progress-circular">
                                        <input type="text" class="knob" value="0" data-rel="65" data-linecap="round" data-width="100" data-bgcolor="#444444" data-fgcolor="#0AAAA0" data-thickness=".10" data-readonly="true" disabled>
                                        <h4 class="progress-h4">Posts views</h4>
                                    </div>
                                </div>
                            </div>
                            <!-- single-skill end -->
                            <!-- single-skill start -->
                            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                <div class="single-skill">
                                    <div class="progress-circular">
                                        <input type="text" class="knob" value="0" data-rel="55" data-linecap="round" data-width="100" data-bgcolor="#444444" data-fgcolor="#0AAAA0" data-thickness=".10" data-readonly="true" disabled>
                                        <h4 class="progress-h4">Sharing Rating</h4>
                                    </div>
                                </div>
                            </div>
                            <!-- single-skill end -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End video and skil area -->
        <!-- Start brand logo area -->
        <section class="brand-logo-area pb-90">
            <div class="container">
                <div class="row">
                    <!-- Start section title -->
                    <div class="col-sm-12">
                        <div class="section-title text-center">
                            <h2>OUR <span>SPONSORS</span></h2>
                            <img src="img/title-bottom.png" alt="">
                        </div>
                    </div>
                    <!-- End section title -->
                    <!-- Start brand logo -->
                    <div class="brand-logo">
                        <div class="col-sm-2">
                            <div class="b-logo">
                                <a href="http://psdrightsell.com/"><img src="img/brand-logo/b-logo-one.png" alt="psdrightsell"></a>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="b-logo">
                                <a href="http://hastech.company/"><img src="img/brand-logo/b-logo-two.png" alt="hastech"></a>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="b-logo">
                                <a href="https://devitems.com/"><img src="img/brand-logo/b-logo-three.png" alt="devitems"></a>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="b-logo">
                                <a href="https://themeforest.net/user/power-boosts"><img src="img/brand-logo/b-logo-four.png" alt="power boosts"></a>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="b-logo">
                                <a href="https://themeforest.net/user/hastech/portfolio"><img src="img/brand-logo/b-logo-five.png" alt="hastech"></a>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="b-logo">
                                <a href="https://themeforest.net/user/codecarnival"><img src="img/brand-logo/b-logo-six.png" alt="codecarnival"></a>
                            </div>
                        </div>
                    </div>
                    <!-- End brand logo -->
                </div>
            </div>
        </section>
        <!-- End brand logo area -->
        <!-- Start footer -->
        <footer>
            <div class="footer-top pt-50 pb-50">
                <div class="container">
                    <div class="row">
                        <div class="footer-widget-area">
                            <!-- Start footer widget -->
                            <div class="col-sm-4">
                                <div class="footer-widget widget-one">
                                    <div class="footer-widget-title">
                                        <h3>ABOUT US</h3>
                                    </div>
                                    <div class="widget-about-content">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla id tincidunt risus. </p>
                                    </div>
                                    <div class="widget-contact-content">
                                        <h3>CONTACT US</h3>
                                        <a href="tel:+0012345678">Phone : +(00) 1234-5678</a>
                                        <a href="mailto:info@granttheme.com">Email : info@granttheme.com</a>
                                        <p>Address : 122, New road, South Zone Country.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- End footer widget -->
                            <!-- Start footer widget -->
                            <div class="col-sm-2">
                                <div class="footer-widget widget-two">
                                    <div class="footer-widget-title">
                                        <h3>OUR PROJECT</h3>
                                    </div>
                                    <nav>
                                        <ul>
                                            <li><a href="#">Water Surve</a></li>
                                            <li><a href="#">Education for all</a></li>
                                            <li><a href="#">Treatment</a></li>
                                            <li><a href="#">Food Serving</a></li>
                                            <li><a href="#">Cloth</a></li>
                                            <li><a href="#">Selter Project</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <!-- End footer widget -->
                            <!-- Start footer widget -->
                            <div class="col-sm-2">
                                <div class="footer-widget widget-two">
                                    <div class="footer-widget-title">
                                        <h3>QUCIK LINK</h3>
                                    </div>
                                    <nav>
                                        <ul>
                                            <li><a href="#">Causes</a></li>
                                            <li><a href="#">Projects</a></li>
                                            <li><a href="#">Gallery</a></li>
                                            <li><a href="#">Terms of use</a></li>
                                            <li><a href="#">Legal disclaimer</a></li>
                                            <li><a href="#">Privacy policy</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <!-- End footer widget -->
                            <!-- Start footer widget -->
                            <div class="col-sm-4">
                                <div class="footer-widget widget-four">
                                    <div class="footer-widget-title">
                                        <h3>NEWSLETTER</h3>
                                    </div>
                                    <div class="widget-about-content">
                                        <p>Select your newsletters, enter your email address, and click "Subscribe"</p>
                                    </div>
                                    <div class="newslater">
                                        <form id="mc-form" class="mc-form form">
                                            <input id="mc-email" type="email" autocomplete="off" placeholder="Email Address">
                                            <button id="mc-submit" type="submit"><i class="fa fa-envelope" aria-hidden="true"></i></button>
                                        </form>
                                        <!-- mailchimp-alerts Start -->
                                        <div class="mailchimp-alerts text-centre">
                                            <div class="mailchimp-submitting"></div><!-- mailchimp-submitting end -->
                                            <div class="mailchimp-success"></div><!-- mailchimp-success end -->
                                            <div class="mailchimp-error"></div><!-- mailchimp-error end -->
                                        </div><!-- mailchimp-alerts end -->
                                    </div>
                                </div>
                            </div>
                            <!-- End footer widget -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="copyright">
                                <p>Copyright <i class="fa fa-copyright"></i> 2018 <span><a href="https://freethemescloud.com/">Free Themes Cloud</a></span> . All rights reserved. </p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="footer-social">
                                <nav>
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <div class="hidden-xs" id="back-top" style="display: block;"></div>
                </div>
            </div>
        </footer>
        <!-- End footer -->

    </div>
    <!-- End main area -->
    
    <!-- jquery-1.12.0.min js
		============================================ -->
    <script src="js/vendor/jquery-1.12.0.min.js"></script>

    <!-- bootstrap js
		============================================ -->
    <script src="js/bootstrap.min.js"></script>

    <!-- owl.carousel.min js
		============================================ -->
    <script src="js/owl.carousel.min.js"></script>

    <!-- jquery.nivo.slider.pack js
		============================================ -->
    <script src="js/jquery.nivo.slider.pack.js"></script>

    <!-- jquery.mixitup.min js
        ============================================ -->
    <script src="js/jquery.mixitup.min.js"></script>

    <!-- jquery.magnific-popup.min js
        ============================================ -->
    <script src="js/jquery.magnific-popup.min.js"></script>

    <!-- jquery.meanmenu js
        ============================================ -->
    <script src="js/jquery.meanmenu.js"></script>

    <!-- jquery.syotimer.min js
        ============================================ -->
    <script src="js/jquery.syotimer.min.js"></script>

    <!-- wow js
		============================================ -->
    <script src="js/wow.js"></script>

    <!-- jquery.scrollUp.min js
        ============================================ -->
    <script src="js/jquery.scrollUp.min.js"></script>

    <!-- jquery.ajaxchimp.min js
        ============================================ -->
    <script src="js/jquery.ajaxchimp.min.js"></script>

    <!-- plugins js
		============================================ -->
    <script src="js/plugins.js"></script>

    <script>
        new WOW().init();

    </script>

    <!-- main js
		============================================ -->
    <script src="js/main.js"></script>
</body>

</html>

