<%include partials/header.ejs %>
 <div class="main-area wrapper-boxed">
        <!-- Start header -->
        <header>
            <!-- Start header top -->
        <!--     <div class="header-top">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-5 col-md-6">
                            <div class="top-social">
                                <nav>
                                    <ul>
                                        <li><a href="#">Follow Us On:</a></li>
                                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-sm-7 col-md-6">
                            <div class="call-to-action">
                                <nav>
                                    <ul>
                                        <li><a href="mailto:ourmail@domain.com"><i class="fa fa-envelope" aria-hidden="true"></i> Email: ourmail@domain.com</a></li>
                                        <li><a href="tel:+5881234567"><i class="fa fa-phone" aria-hidden="true"></i> Phone: +5(88) 123-4567</a></li>
                                        <li><a href="">EN <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                            <ul>
                                                <li><a href="#">ENGLISH</a></li>
                                                <li><a href="#">FRANCE</a></li>
                                                <li><a href="#"></a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
            <!-- End header top -->
            <!-- Start main menu area -->
            <div class="main-menu-area" id="sticker">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-3 col-xs-12">
                            <div class="logo ptb-32">
                              <a style="font-size:40px;"href="index.html">
                                  <!-- <img src="img/logo.png" alt=""> -->
                                  NAAV
                              </a>
                            </div>
                        </div>
                        <div class="col-sm-9 col-xs-12">
                            <div class="main-menu">
                                <nav>
                                    <ul>
                                        <li><a href="/">Home</a></li>
                                        <li><a href="/ngos">Organisations</a></li>
                                        <!-- <li class="mega-menu"><a href="#">i</a></li> -->
<!--                                         <li><a href="events.html">Events</a></li>
 -->                                        <!-- <li><a href="#">Blog</a>
                                            <ul class="drop-menu">
                                                <li><a href="blog.html">Blog</a></li>
                                                <li><a href="blog-details.html">Blog Details</a></li>
                                            </ul>
                                        </li> -->
                                        <li><a href="#">Pages</a>
                                            <ul class="drop-menu">
<!--                                                 <li><a href="about.html">About Us</a></li>
 -->                                                <li><a href="#">Contact Us</a></li>
<!--                                                 <li><a href="couses.html">Couses</a></li>
-->                                                <li><a href="/ngos">Organisations</a></li>
<!--                                                 <li><a href="404.html">404</a></li>
 -->                                            </ul>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                             <div class="donate-button ptb-32">
                                <a class="waves-effect waves-light" href="/volunteer">Volunteer</a>
                            </div>
                            <div class="donate-button ptb-32">
                                <a class="waves-effect waves-light" href="/ngos">Donate</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End main menu area -->
            <!-- Start mobile menu -->
            <div class="mobile-menu-area">
                <div class="container">
                    <div class="row">
                        <div class="mobile-menu">
                            <nav id="dropdown">
                                <ul class="nav">
                                    <li><a href="#">Home</a></li>
                                    <li><a href="about.html">About</a></li>
                                    <li class="mega-menu"><a href="#">Project</a></li>
                                    <li><a href="events.html">Events</a></li>
                                    <li><a href="#">Blog</a>
                                        <ul class="drop-menu">
                                            <li><a href="blog.html">Blog</a></li>
                                            <li><a href="blog-details.html">Blog Details</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Pages</a>
                                        <ul class="drop-menu">
                                            <li><a href="about.html">About Us</a></li>
                                            <li><a href="contact-us.html">Contact Us</a></li>
                                            <li><a href="couses.html">Couses</a></li>
                                            <li><a href="events.html">Events</a></li>
                                            <li><a href="404.html">404</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End mobile menu -->
        </header>
        <!-- End header -->
        <!-- Start slider area -->

        <!-- End slider area -->


        <!-- Start our couses area -->
        <section class="our-couses-area pt-90 pb-90">
            <div class="container">
                <div class="row">
                    <!-- Start section title -->
                    <div class="col-sm-12">
                        <div class="section-title text-center">
                            <h2>ORGANISATIONS <span>WE WORK WITH</span></h2>
                            <img src="img/title-bottom.png" alt="">

                        </div>
                    </div>
                    <!-- End section title -->
                    <div class="couses">
                        <!-- Start single couses -->
                        <div class="col-sm-4">
                            <div class="single-couses">
                                <div class="single-couses-image-text">
                                    <div class="couses-image">
                                        <img src="https://yt3.ggpht.com/a-/AN66SAwIR60NKxRW-EcWf_KhDUqYQWqDB6FFdoED6w=s900-mo-c-c0xffffffff-rj-k-no" alt="">
                                    </div>
                                    <div class="couses-text text-center">
                                        <h3>SAMMAAN FOUNDATION</h3>
                                        <p>Sammaan Foundation is a ‘not for profit’ organization, registered under section 25 of the Indian Company’s Act 1956. Sammaan has a long history of working in financial inclusion, livelihood, micro-entrepreneurship, health and agriculture.</p>
                                    </div>
                                </div>
                                <div class="couses-button-and-price">
                                    <div class="couses-button">
                                        <a href="/pay" class="btn-md bo-ra-5">Donate</a>
                                    </div>
                                    <!-- <div class="couses-price">
                                        <h5>$ 25,000 / $ 50,000</h5>
                                    </div> -->
                                    <div style=" margin-bottom:20px"class="couses-button">
                                        <a href="/Sammaan-Foundation/transactions" class="btn-md bo-ra-5">Transactions</a>
                                    </div>
                                </div>


                            </div>
                        </div>
                        <!-- End single couses -->
                        <!-- Start single couses -->
                        <div class="col-sm-4">
                            <div class="single-couses">
                                <div class="single-couses-image-text">
                                    <div class="couses-image">
                                        <img src="https://goonj.org/wp-content/uploads/2019/01/xlogo1.png.pagespeed.ic.KFgIXUSa2E.png" alt="">
                                    </div>
                                    <div class="couses-text text-center">
                                        <h3>GOONJ</h3>
                                        <p>Goonj uses the under-utilised and excess urban household material as a tool for rural development across 23 states in the country. It thus aims to bring an equitable relationship of strength, sustenance and dignity between the cities and villages.</p>
                                    </div>
                                </div>
                                <div class="couses-button-and-price">
                                    <div class="couses-button">
                                        <a href="/pay" class="btn-md bo-ra-5">Donate</a>
                                    </div>
                                    <!-- <div class="couses-price">
                                        <h5>$ 25,000 / $ 50,000</h5>
                                    </div> -->
                                    <div style=" margin-bottom:20px"class="couses-button">
                                        <a href="/Goonj/transactions" class="btn-md bo-ra-5">Transactions</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End single couses -->
                        <!-- Start single couses -->
                        <div class="col-sm-4">
                            <div class="single-couses">
                                <div class="single-couses-image-text">
                                    <div class="couses-image">
                                        <img src="http://www.akshayatrust.org/filemanager/userfiles/Slide1.jpg" alt="">
                                    </div>
                                    <div class="couses-text text-center">
                                        <h3>AKSHAYA TRUST</h3>
                                        <p>Akshaya is committed to helping the helpless, homeless, sick, elderly, mentally ill
and destitute in Madurai, India by providing healthy food, care, and opportunity
to rehabilitate in order to restore human dignity.</p>
                                    </div>
                                </div>
                                <div class="couses-button-and-price">
                                    <div class="couses-button">
                                        <a href="/pay" class="btn-md bo-ra-5">Donate</a>
                                    </div>
                                    <!-- <div class="couses-price">
                                        <h5>$ 25,000 / $ 50,000</h5>
                                    </div> -->
                                    <div style=" margin-bottom:20px"class="couses-button">
                                        <a href="/Akshaya-Trust/transactions" class="btn-md bo-ra-5">Transactions</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- End single couses -->
                    </div>
                </div>
            </div>
        </section>

                <section class="our-couses-area pt-90 pb-90">
            <div class="container">
                <div class="row">
                    <!-- Start section title -->

                    <!-- End section title -->
                    <div class="couses">
                        <!-- Start single couses -->
                        <div class="col-sm-4">
                            <div class="single-couses">
                                <div class="single-couses-image-text">
                                    <div class="couses-image">
                                        <img src="https://upload.wikimedia.org/wikipedia/en/thumb/a/a3/Smile_Foundation_Logo.png/250px-Smile_Foundation_Logo.png" alt="">
                                    </div>
                                    <div class="couses-text text-center">
                                        <h3>SMILE FOUNDATION</h3>
                                        <p>Smile Foundation is an NGO in India directly benefitting over 600,000 children and their families every year, through more than 250 live welfare projects on education, healthcare, livelihood and women empowerment, in over 950 remote villages and slums across 25 states of India.</p>
                                    </div>
                                </div>
                                <div class="couses-button-and-price">
                                    <div class="couses-button">
                                        <a href="/pay" class="btn-md bo-ra-5">Donate</a>
                                    </div>
                                    <!-- <div class="couses-price">
                                        <h5>$ 25,000 / $ 50,000</h5>
                                    </div> -->
                                    <div style=" margin-bottom:20px"class="couses-button">
                                        <a href="/Smile-Foundation/transactions" class="btn-md bo-ra-5">Transactions</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End single couses -->
                        <!-- Start single couses -->
                        <div class="col-sm-4">
                            <div class="single-couses">
                                <div class="single-couses-image-text">
                                    <div class="couses-image">
                                        <img src="https://yt3.ggpht.com/a-/AAuE7mB7IkilPcy8sjFHT4FZHkZUrRqOaap__d3QCQ=s900-mo-c-c0xffffffff-rj-k-no" alt="">
                                    </div>
                                    <div class="couses-text text-center">
                                        <h3>UDAAN WELFARE FOUNDATION</h3>
                                        <p> They provide  timely and meaningful support to needy children, women & Senior Citizens by effectively implementing projects in the area of Health, Education and Nutrition, which have a sustainable,  cost effective and positive impact on society & Environment.</p>
                                    </div>
                                </div>
                                <div class="couses-button-and-price">
                                    <div class="couses-button">
                                        <a href="/pay" class="btn-md bo-ra-5">Donate</a>
                                    </div>
                                    <!-- <div class="couses-price">
                                        <h5>$ 25,000 / $ 50,000</h5>
                                    </div> -->
                                    <div style=" margin-bottom:20px"class="couses-button">
                                        <a href="/Udaan-Welfare-Foundation/transactions" class="btn-md bo-ra-5">Transactions</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End single couses -->
                        <!-- Start single couses -->
                        <div class="col-sm-4">
                            <div class="single-couses">
                                <div class="single-couses-image-text">
                                    <div class="couses-image">
                                        <img src="https://static.wixstatic.com/media/b8f519_3094a34fe20c4d77a23e6e5d8d134cbb~mv2.jpg" alt="">
                                    </div>
                                    <div class="couses-text text-center">
                                        <h3>LET THEM FLY</h3>
                                        <p>Let Them Fly is committed to help poor children by giving them education. Its staff regularly visits needy families at home, helping parents feel more confident about their caregiving skills, teaching them how to better interact with their children, and connecting them to community resources that serve families.</p>
                                    </div>
                                </div>
                                <div class="couses-button-and-price">
                                    <div class="couses-button">
                                        <a href="/pay" class="btn-md bo-ra-5">Donate</a>
                                    </div>
                                    <!-- <div class="couses-price">
                                        <h5>$ 25,000 / $ 50,000</h5>
                                    </div> -->
                                    <div style=" margin-bottom:20px"class="couses-button">
                                        <a href="/Let-Them-Fly/transactions" class="btn-md bo-ra-5">Transactions</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- End single couses -->
                    </div>
                </div>
            </div>
        </section>


    </div>
    <!-- End main area -->

    <!-- jquery-1.12.0.min js
		============================================ -->
    <script src="js/vendor/jquery-1.12.0.min.js"></script>

    <!-- bootstrap js
		============================================ -->
    <script src="js/bootstrap.min.js"></script>

    <!-- owl.carousel.min js
		============================================ -->
    <script src="js/owl.carousel.min.js"></script>

    <!-- jquery.nivo.slider.pack js
		============================================ -->
    <script src="js/jquery.nivo.slider.pack.js"></script>

    <!-- jquery.mixitup.min js
        ============================================ -->
    <script src="js/jquery.mixitup.min.js"></script>

    <!-- jquery.magnific-popup.min js
        ============================================ -->
    <script src="js/jquery.magnific-popup.min.js"></script>

    <!-- jquery.meanmenu js
        ============================================ -->
    <script src="js/jquery.meanmenu.js"></script>

    <!-- jquery.syotimer.min js
        ============================================ -->
    <script src="js/jquery.syotimer.min.js"></script>

    <!-- wow js
		============================================ -->
    <script src="js/wow.js"></script>

    <!-- jquery.scrollUp.min js
        ============================================ -->
    <script src="js/jquery.scrollUp.min.js"></script>

    <!-- jquery.ajaxchimp.min js
        ============================================ -->
    <script src="js/jquery.ajaxchimp.min.js"></script>

    <!-- plugins js
		============================================ -->
    <script src="js/plugins.js"></script>

    <script>
        new WOW().init();

    </script>

    <!-- main js
		============================================ -->
    <script src="js/main.js"></script>
    </body>

</html>
